:root{
    --colour-primary: #a884ec;
    --button-highlight: #0a0a0c;
    --text-color: #2e2b41;
    --input-color: #F3F0FF;
    --label-background: #9039b9;
    --icon-background: #cd9be3;
    --label-icon: #ffffff;
    --body-background: #d2afff;
    --components-background: #DA70D6;
    --task-background: #f4c2fe;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Trebuchet MS', sans-serif;
}


.image-text{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    transition:all .25s ease-in-out;
    background-color: var(--icon-background);
    border-radius: 20px;
    
}

.text{
    text-align: right;
}

.sidebar li.current{
    background-color: var(--label-background);
    border-radius: 20px;
}

.current p{
    color: white;
}

body{
    background-color: var(--body-background);
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 80px;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--colour-primary);
    transition: width .25s ease-in-out;
    font-family: "Calibri" !important;
}

.sidebar p{
    opacity: 0;
    transition:all .25s ease-in-out;

}

.sidebar .images{
    margin-left: 6px;
    width: 40px;
    border-radius: 6px
}


.sidebar .image-text{
    display:flex;
    gap: 32px;
    align-items: center;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
}



.sidebar header{
    position: relative;
}

.sidebar li{
    height: 50px;
    margin-top: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .25s ease-in-out;
    background-color: var(--icon-background);
    border-radius: 20px;
}


.sidebar a li{
    align-items: center;
    justify-content: left;
    text-decoration: none;
    display: flex;
    color: black;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    margin-right: 10px;
   
}



.sidebar li:hover{
    border-radius: 23px;
    box-shadow:6px 6px 3px rgba(21, 21, 21, 0.2);
    background: #d2a9fb;
}


.sidebar:hover{
    width: 250px;
}

.sidebar:hover p{
    opacity: 1;
}


#features_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature .bx{
    font-size: 100px;
}

.feature{
    text-align: center;
}

.feature p{
    font-size: 20px;
}

#title_container{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 55vh;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

#webtitle{
    text-align: center;
    font-size: 128px;
    color: white;
    margin-top: 15vh;
    margin-bottom: 50px;
}

#signup{
    margin-left: 50%;
    margin-right: 50%;
}

#signup_title{
    margin-bottom: 10px;
}

.signup_wrapper{
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
    min-height: 80vh;
    background-color: var(--colour-primary);
    width: 50%;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_inputs{
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.signup_inputs > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_inputs label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--label-background); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px 0px 0px 10px;

}

.signup_inputs input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0px 10px 10px 0px;
    transition: 50ms ease;
    border: 2px solid var(--colour-primary);
    border-left: none;
}



.signup_inputs input:hover{
    border-color: #5b2ab6;
}

.signup_wrapper a{
    margin-top: 40px;
    text-decoration: none;
}

.signup_wrapper input:focus{
    outline: none;
    border-color: var(--colour-secondary);
}

div:has(input:focus) > label{
    background-color: var(--colour-secondary)
}

.signup_wrapper button{
    margin-top: 20px;
    border: none;
    border-radius: 1000px;
    text-transform: uppercase;
    font-weight: bold;
    padding: .85em 4em;
    color: white;
    background-color: var(--label-background);
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.signup_wrapper button:hover{
    border-radius: 100px;
    width: 13em;
    color: white;
    background-color: var(--colour-secondary)
}


.content{
    display: flex;
    flex-direction: column;
    transition: margin-left .25s ease-in-out;
    margin-left: 120px;
    transform: translateY(40px);
    height: 100%;
    margin-right: 50px;
    gap: 20px;
    justify-content: center;
}

#todo_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
}

.content .contentitem{
    /** border: 1px solid; */
    border-radius: 10px;
    background-color: #ffffff;


}

.heading{
    border-radius: 15px !important;
    text-align: center;
}

#todo_heading{
    text-align: center;
    align-self: center;
}

#todo_view{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
}

#todo_view .contentitem{
    padding: 20px;
}

.todo_headings{
    margin-bottom: 15px;
}


#task_form{
    width: auto;
}

#task_form button{
    margin-left: auto;
    margin-right: auto;
}


#todo_edit{
    grid-column-start: 4;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.task_inputs{
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task_inputs input{
    box-sizing: border-box;
    flex-grow: 1;
    height: 50px;
    padding: 1em;
    border-radius: 7px;
    transition: 50ms ease;
    border: rgb(0,0,0,0.2) 2px solid;
    
}

.task_inputs input:focus{
    outline: none;
    border: var(--body-background) 2px solid;
    
}



.task{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: var(--task-background);
    border-radius: 20px;
    padding: 10px;
    transition: 500ms ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.245) ;
}


.task:hover{
    opacity: 1;
}




.task_info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.status{
    width: 25px;
    height: 25px;
    color: white;
    text-indent: 1px;
    text-overflow: '';
    border: 2px black solid;
    background: white;
    display: flex;
    text-align: center;
    align-items: center;
}





.pill_labels{
    display:flex;
    flex-direction: row;
    gap: 5px;
}

.pill_label{
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 999px;
    min-width: 10px;
    font-size: 0.7rem;
}


select.pill_label:focus {
    outline: none;
}

.task .delete{
    opacity: 0;
    transition: 200ms ease;
    cursor: pointer;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 5px;

}



.priority{
    max-width: auto;
}


.dropdown{
    display: flex;
    flex-direction: column;
}


.delete button{
    border: none;
}

.task .choices{
    min-width: 100px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}

.choices_inner{
    margin: auto;
}




.choices__item--choice.is-highlighted {
    background-color: #a884ec !important;
    color: #fff !important;
}

.choices__list--dropdown .choices__item[data-value="a"] {
  display: none !important;
}


.choices__list--dropdown .choices__item[data-value="1"].is-highlighted {
  background: #FF746C !important; 
}
.choices__list--dropdown .choices__item[data-value="2"].is-highlighted {
  background: #FFEE8C !important;  
  color:black !important;
}
.choices__list--dropdown .choices__item[data-value="3"].is-highlighted {
  background: #cbeec8 !important;  
  color:black !important;
}


.choices__list--dropdown .choices__item[data-value="Not Started"].is-highlighted {
  background: #c3c6d1 !important; 
}
.choices__list--dropdown .choices__item[data-value="Ongoing"].is-highlighted {
  background: #B3EBF2 !important;  
  color:black !important;
}
.choices__list--dropdown .choices__item[data-value="Completed"].is-highlighted {
  background: #cbeec8 !important;  
  color:black !important;
}




.choices.editdrop{
    min-width: 120px;
    background-color: white;
}



.choices.circular_status .choices__inner {
    max-height: 20px !important;
}

.editdrop.choices__list--dropdown {
    min-width: 120px;
}


#todo_submit{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: .85em 4em;
    color: white;
    background-color: var(--label-background);
    transition: 250ms ease-in-out;
    cursor: pointer;
}

#todo_submit:hover{
    border-radius: 50px;
    color: white;
    background-color: var(--button-highlight)
}

.task.completed{
    opacity: 0;
    transform: translateX(200px);
}
.task.deleted{
    opacity: 0;
}


.task_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status_wrapper{
    display: flex;
    align-items: center;
    align-self: center;
}


#calendar{
    padding: 20px 30px 30px 30px;
    width: 70%;

}

.content.calendar_view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.heading{
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

.modal_container{
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    
    flex-wrap: wrap;
}

.event_modal{
    display: flex;
    position: fixed; 
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 25px 20px;
    z-index: 4010;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 80px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.245) ;
    width: 400px;
    justify-content: center;
    
}

.event_view{
    width: 400px;
}

.event_modal input{
    box-sizing: border-box;
    padding: 1em;
    border-radius: 7px;
    transition: 50ms ease;
    border: rgb(0,0,0,0.2) 2px solid;
    border-radius: 10px;
}

.event_modal input:focus{
    outline: none;
    border: var(--body-background) 2px solid;
}

.eventinput_details{
    width: 100%;
    height: 50px; 
}


.backdrop{
    display: none;
    position: fixed;
    background-color: rgb(0,0,0,0.4);
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    
}

.event_top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event_del{
    cursor: pointer;
    border: none;
    background: none;
    margin-left: auto;
    margin-right: 5px;

}

.event_del:hover{
    fill: red;
}

.event_view{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#all_day{
    display: flex;
    flex-direction: row;
    gap: 1em
}


.event_actions{
    border: none;
    border-radius: 1000px;
    transition: 150ms ease-in-out;
    cursor: pointer;
    margin-top: 20px;
    padding: .85em .85em;
    color: white;
    align-self: center;

}

.event_action{
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 250ms ease-in-out;
    cursor: pointer;
    align-self: center;
    color: white;
}

#cancel{
    padding: 1em 2em;
    background-color: rgb(0, 0, 0, 0.2);
}

#save{
    padding: 1em 2.5em;
    
    background-color: #e68bbe;
}

#save:hover{
    border-radius: 50px;
    background-color: var(--label-background);
}

#cancel:hover{
    border-radius: 50px;
    background-color: rgb(0, 0, 0, 0.4);
}

#add_title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cross{
    margin-left: auto;
    cursor: pointer;
    color: black;

}


.note{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    white-space: normal; 
    overflow-wrap: anywhere;
    word-break: break-word;
    margin-left: 30px;
}


#event_form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


#event_heading_text{
    font-size: 22px;
    margin-left: 4px;
}

.content.home_view{
    align-items: center;
    justify-content: center;
    
}

.home_elements{
    flex:1;                          
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(2, minmax(0,1fr));  
    gap:15px;
    width:100%;                      
    min-height:0; 
}


#schedule{
    grid-row: 1 / -1;  
    padding: 20px 30px 30px 30px;
}

.header_controls{
    margin-left: auto;
}

.fc .fc-scroller::-webkit-scrollbar{ 
    display:none; 
} 

.modal_form_item{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.optional{
    color: rgb(0,0,0,0.4)
}

.eventform_titles{
    margin-left: 5px;
}

.event_title{
    font-size: 22px;
}

.event_time{
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.note_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.eventtime_heading{
    font-weight: 600;
}



#home_todo{
    padding: 20px;
}

#notepad{
    outline: none;
    border: none;
    width: 85%;
    height: 85%;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 25px;
    resize: none;
}

#time_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-left: 20px;
    margin-top: auto;
}

#time_controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer_inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    white-space:nowrap;   
    flex-shrink:0;
    margin-top: 25px;
    
}


#time_view{
    font-size: 24px;
    align-self: center;
    justify-self: center;
    margin-top: 25px;
    margin-bottom: auto;
}



#time_form input{
    width: 2em;
    padding: auto;
}



#notes{
    padding: 20px;
}

#notes_heading{
    margin-bottom: 5px;
}


#timer{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

#clear{
    display: fixed;
    
}

.notepad_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.timer_input{
    padding: 0;
    border: none;
    font-size: 25px;
    max-width: 2em;
    max-height: 2.2em;
    background: none;
    
}



#time_view input::placeholder{
    font-size: 25px;
    
}

.event_actions{
    margin-left: auto;
    margin-right: auto;
}

#schedule_card{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#home_todo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

