:root{
    --colour-primary: #a884ec;
    --colour-secondary: #0a0a0c;
    --text-color: #2e2b41;
    --input-color: #F3F0FF;
    --label-background: #6b288a;
    --label-icon: #ffffff;
    --body-background: #d2afff;
    --components-background: #DA70D6;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


.current{
    background-color: var(--label-background);
    border-radius: 20px;
    color: white;
}

.current p{
    color: white;
}

body{
    background-color: var(--body-background);
}

.sidebar{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 80px;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--colour-primary);
    transition:all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar p{
    opacity: 0;
    transition:all .25s ease-in-out;

}

.sidebar .images{
    margin-left: 6px;
    width: 40px;
    border-radius: 6px
}


.sidebar .image-text{
    display:flex;
    gap: 32px;
    align-items: center;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
}



.sidebar header{
    position: relative;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .25s ease-in-out;

}


.sidebar a li{
    align-items: center;
    justify-content: left;
    text-decoration: none;
    display: flex;
    color: black;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sidebar li:hover{
    border-radius: 20px;
    box-shadow:6px 6px 3px rgba(21, 21, 21, 0.2);
    background: hsl(188, 40%, 65%);
}



.sidebar:hover{
    width: 250px;
}

.sidebar:hover p{
    opacity: 1;
}

.sidebar:hover + .contents{
    transform: translateX(170px);
}

#features_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature .bx{
    font-size: 100px;
}

.feature{
    text-align: center;
}

.feature p{
    font-size: 20px;
}

#title_container{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 55vh;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

#webtitle{
    text-align: center;
    font-size: 128px;
    color: white;
    margin-top: 15vh;
    margin-bottom: 50px;
}

#signup{
    margin-left: 50%;
    margin-right: 50%;
}

#signup_title{
    margin-bottom: 10px;
}

.signup_wrapper{
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
    min-height: 80vh;
    background-color: var(--colour-primary);
    width: 50%;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_inputs{
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.signup_inputs > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_inputs label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--label-background); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px 0px 0px 10px;

}

.signup_inputs input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0px 10px 10px 0px;
    transition: 50ms ease;
    border: 2px solid var(--colour-primary);
    border-left: none;
}



.signup_inputs input:hover{
    border-color: #5b2ab6;
}

.signup_wrapper a{
    margin-top: 40px;
    text-decoration: none;
}

.signup_wrapper input:focus{
    outline: none;
    border-color: var(--colour-secondary);
}

div:has(input:focus) > label{
    background-color: var(--colour-secondary)
}

.signup_wrapper button{
    margin-top: 20px;
    border: none;
    border-radius: 1000px;
    text-transform: uppercase;
    font-weight: bold;
    padding: .85em 4em;
    color: white;
    background-color: var(--label-background);
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.signup_wrapper button:hover{
    border-radius: 100px;
    width: 13em;
    color: white;
    background-color: var(--colour-secondary)
}


.content{
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw ;
    transition:all .25s ease-in-out;
    margin-left: 130px;
    transform: translateX(0);
}

.content div{
    background-color: var(--components-background);


}